
-- DB indexes added 2026-04-21
ALTER TABLE exam_sets ADD INDEX idx_product_user (product_id, user_id);
ALTER TABLE exam_stats ADD INDEX idx_product_user (product_id, user_id);
ALTER TABLE exam_stats ADD INDEX idx_attempted_date (attempted_date);
ALTER TABLE practice_answers ADD INDEX idx_mcq_id (mcq_id);
ALTER TABLE mcqs ADD INDEX idx_topic_status_verified (topic_id, status, verified);
ALTER TABLE purchased_products ADD INDEX idx_purchased_on (purchased_on);
ALTER TABLE purchased_products ADD INDEX idx_user_id (user_id);
ALTER TABLE notification ADD INDEX idx_user_status (user_id, status);